body{
    font-family: 'Quicksand', sans-serif;
}

a{
    color: white;
}

a:hover{
    color: grey;
}
.parallax-header{
    background: #000;
    background: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0)
        ),
        url(images/background.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.parallax{
    background: #000;
    background: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.8)
        ),
        url(images/laptop2.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.header-content{
    padding: 300px 0 300px 0;
}

.parallax-content{
    padding: 300px 0 300px 0;
}
.content{
    margin-top: -80px;
    background: #fff;
    box-shadow: 0 0 20px -6px rgba(0,0,0,0.2)
}

.content .left{
    padding-top: 20px;
}

.content .right{
    padding: 0;
}

.text-justify{
    text-align: justify;
}

.bottom{
    background: #1f1f1f;
    padding: 20px;
}


.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color: white;
  }

  .wrapper2 {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
  }

